

<div class="bg-lime-600 mb-10">
    <div class="pl-32 pt-6 pb-6">
        <p class="mt-6 text-4xl mb-2 bg-white w-72">Welcome to the</p>
        <h1 class="mt-6 text-4xl mb-2 bg-white text-red-700 w-1/3">National Careers Service</h1>
        <p class="mt-4 font-medium bg-white w-2/5 mb-6">We provide careers information, advice and guidance. We can help you make decisions at all stages in your career.</p> 
    </div>
  </div>
  
  <div class="ml-32 mr-32 mb-6">
    <div>
    <h2>Get personalised careers advice and information</h2>
    </div>
  </div>


  <div class="ml-32 mr-32">

    <label for="{{select}}">Show advice for:</label>
    <select>
      {{ taxonomy:career_advice_category : terms}}
        <option ><p id="{{ select }}"> {{ title }}</p></option>
      {{ /taxonomy:career_advice_category : terms}}
    </select>
    <button> See suggestions </button>
  </div>
  

  <div class="ml-32 mr-32">
    <div class="grid gap-4 grid-cols-3">

      <div class="bg-lime-600">
        <p>Skills assessment</p>
        <p>Learn more about your skills and match them to potential new careers.</p>
        <button type="button">Assess your skills</button>
      </div>

      <div class="bg-red-200">
        <p>Skills assessment</p>
        <p>Learn more about your skills and match them to potential new careers.</p>
        <button type="button">Assess your skills</button>
      </div>

      <div class="bg-yellow-600">
        <p>Skills assessment</p>
        <p>Learn more about your skills and match them to potential new careers.</p>
        <button type="button">Assess your skills</button>
      </div>

    </div>
  </div>


  <div class="ml-32 mr-32">
    <p>Careers Advice</p>
    <div class="grid gap-4 grid-cols-3">
      <div class="bg-lime-600">
        <p>Making careers choices</p>
        <p>
          Whether starting your career, changing jobs or working out your next step, get advice to make the right choice for you.
        </p>
      </div>
      <div class="bg-red-200">
        <p>Getting a job </p>
        <p>Be successful in the recruitment process with tips on great CVs, interviews and graduate scheme applications.</p>
      </div>
      <div class="bg-yellow-600">
        <p>Progressing your career</p>
        <p>Move up in your career by developing new skills. Find opportunities like volunteering and online learning.
        </p>
      </div>
    </div>
  </div>



  <div class="ml-32 mr-32 mt-4">
    <div class="grid gap-4 grid-cols-3">
      <div class="bg-lime-600">
        <p>About us</p>
        <p>The National Careers Service can help you with your career, learning and training choices. Find out more about us and the different ways we can support you.</p>
        <p>This service is available to people who live in England.</p>
      </div>
      <div class="bg-red-200">
        <p>Speak to an adviser</p>
        <p>Wherever you are with your decisions, you can call us on 0800 100 900 during our opening times.</p>
        <p>You can also use webchat to talk online.</p>
      </div>
      <div class="bg-yellow-600">
        <p>Follow us</p>
        <div class="flex ..">
          <i class="fa fa-twitter-square" aria-hidden="true"></i>
          <p>Twitter</p>
        </div>
        <div class="flex ..">
          <i class="fa fa-address-book" aria-hidden="true"></i>
          <p>Facebook</p>
        </div>
        <div class="flex ..">
        <i class="fa fa-address-book" aria-hidden="true"></i>
        <p>Linkedin</p>
        </div>
        <div class="flex ..">
          <i class="fa fa-address-book" aria-hidden="true"></i>
          <p>Instagram</p>
        </div>
        <div class="flex ..">
          <i class="fa fa-address-book" aria-hidden="true"></i>
          <p>YouTube</p>
        </div>

      </div>
    </div>
  </div>


  
  
  
  
  
  
  